<div>{{ shortened }}</div>
<div class="">
    <form name="shortForm">
        <input type="url" name="url" ng-model="url" required/>
        <button type="button" class="btn" ng-disabled="shortForm.$invalid" ng-click="shortener.shortenUrl()">Shorten!</button>
    </form>
</div>
<div role="alert">
    <span class="error" ng-show="shortForm.url.$error.required">Required!</span>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <td>Created</td>
                <td>URL</td>
                <td>Short URL</td>
                <td>Click count</td>
            </tr>
        </thead>
        <tr ng-repeat="shortUrl in shortUrls | orderBy: '-Created'">
            <td>{{shortUrl.Created | date:'short'}}</td>
            <td><a href="{{shortUrl.Url}}" target="_blank">{{shortUrl.Url}}</a></td>
            <td><a href="@Url.HttpRouteUrl("DefaultApi", new { controller = "url" }){{shortUrl.Short}}" target="_blank">@Url.HttpRouteUrl("DefaultApi", new { controller = "Url" }){{shortUrl.Short}}</a></td>
            <td>{{shortUrl.Clicks}}</td>
        </tr>
    </table>
</div>